<div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, delay: 200, minDuration: 600}"></div>


<div *ngIf="currenticon">
  <video id="bgvid" playsinline autoplay muted loop>
    <source src="/assets/video/{{ currenticon }}.mp4" type="video/mp4">
  </video>
  <div class="overlayvideo"></div>
</div>

<div class="city-container">
  <div class="city-component">
    <md-grid-list cols="12">
      <md-grid-tile *ngFor="let entry of hourlytemp">
        <div class="temperature-container">
          <div class="temperature-date">{{ entry.time * 1000 | date:'HH:mm' }}</div>
          <div class="temperature-type">
            <span class="icon-custom-weather icon-custom-{{ entry.icon }}"></span>
          </div>
          <div class="temperature-number">{{ entry.temperature }} &deg;C</div>
        </div>
      </md-grid-tile>
    </md-grid-list>
    <div style="margin-top: 50px;">
      <button
        md-raised-button
        routerLink="graph">
        Temperature graph
      </button>
      <button
        md-raised-button
        (click)="back()">
        Back
      </button>
    </div>
  </div>
</div>
