.city-container {
  max-width: 1280px;
  width: 996px;
  margin: 0 auto;
}
.temperature {
  font-size: 60px;
  margin: 0;
  padding:0;
}

.cityname {
  font-size: 48px;
  margin: 0;
  padding: 0;
}

.temperature-container {
  text-align: center;
  color: white;
}

.temperature-number {
  font-weight: 300;
  font-size: 14px;
}

.icon-custom-weather {
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  height: 32px;
  width: 32px;
  float: left;
  margin: 10px;
}

.icon-custom-clear-night {
  background-image: url('/assets/images/clear-sky-night.svg');
  background-size: 48px;
  background-position: -8px -8px;
}

.icon-custom-rain, icon-custom-sleet {
  background-image: url('/assets/images/rain.svg');
}

.icon-custom-snow {
  background-image: url('/assets/images/snow.svg');
}

.icon-custom-partly-cloudy-day {
  background-image: url('/assets/images/sund-cloud.svg');
}

.icon-custom-partly-cloudy-night {
  background-image: url('/assets/images/partly-cloudy-night.svg');
  background-size: 48px;
  background-position: -8px -8px;
}

.icon-custom-cloudy {

}

.icon-custom-fog {
  background-image: url('/assets/images/fog.svg');
}

.icon-custom-clear-day {
  background-image: url('/assets/images/sunshine.svg');
}

.icon-custom-thunder {
  background-image: url('/assets/images/thunder.svg');
}

.icon-custom-wind {
  background-image: url('/assets/images/wind.svg');
}
