<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas baseChart width="400" height="400"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [chartType]="lineChartType">
      </canvas>
    </div>
  </div>
  <button 
    md-raised-button 
    (click)="toggleType()">
    Toggle graph type
  </button>
  <button 
    md-raised-button 
    (click)="back()">
    Back
  </button>
</div>