<div class="city-container">
  <div class="city-component">
    <md-grid-list cols="2">
      <md-grid-tile>
        <h3 class="cityname">Stockholm</h3>
      </md-grid-tile>
      <md-grid-tile>
        <h1 class="temperature">33 &deg;C</h1>
      </md-grid-tile>
    </md-grid-list>
    <md-grid-list cols="12">
      <md-grid-tile>
        <div class="temperature-container">
          <div class="temperature-date">April<br> 1</div>
          <div class="temperature-type">Stockholm</div>
          <div class="temperature-number">33 &deg;C</div>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div class="temperature-container">
          <div class="temperature-date">April<br> 1</div>
          <div class="temperature-type">Stockholm</div>
          <div class="temperature-number">33 &deg;C</div>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div class="temperature-container">
          <div class="temperature-date">April<br> 1</div>
          <div class="temperature-type">Stockholm</div>
          <div class="temperature-number">33 &deg;C</div>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div class="temperature-container">
          <div class="temperature-date">April<br> 1</div>
          <div class="temperature-type">Stockholm</div>
          <div class="temperature-number">33 &deg;C</div>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div class="temperature-container">
          <div class="temperature-date">April<br> 1</div>
          <div class="temperature-type">Stockholm</div>
          <div class="temperature-number">33 &deg;C</div>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div class="temperature-container">
          <div class="temperature-date">April<br> 1</div>
          <div class="temperature-type">Stockholm</div>
          <div class="temperature-number">33 &deg;C</div>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div class="temperature-container">
          <div class="temperature-date">April<br> 1</div>
          <div class="temperature-type">Stockholm</div>
          <div class="temperature-number">33 &deg;C</div>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div class="temperature-container">
          <div class="temperature-date">April<br> 1</div>
          <div class="temperature-type">Stockholm</div>
          <div class="temperature-number">33 &deg;C</div>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div class="temperature-container">
          <div class="temperature-date">April<br> 1</div>
          <div class="temperature-type">Stockholm</div>
          <div class="temperature-number">33 &deg;C</div>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div class="temperature-container">
          <div class="temperature-date">April<br> 1</div>
          <div class="temperature-type">Stockholm</div>
          <div class="temperature-number">33 &deg;C</div>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div class="temperature-container">
          <div class="temperature-date">April<br> 1</div>
          <div class="temperature-type">Stockholm</div>
          <div class="temperature-number">33 &deg;C</div>
        </div>
      </md-grid-tile>
      <md-grid-tile>
        <div class="temperature-container">
          <div class="temperature-date">April<br> 1</div>
          <div class="temperature-type">Stockholm</div>
          <div class="temperature-number">33 &deg;C</div>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>
</div>
