<!--TODO: Raghu-->
<md-input-container class="new-location">
  <label>Which other location you gotta stalk, weirdo?</label>
  <input 
    type="text" 
    #location 
    mdInput 
    [formControl]="citiesControl" 
    [mdAutocomplete]="cities"
    required>
</md-input-container>

<md-autocomplete #cities="mdAutocomplete">
   <md-option *ngFor="let option of filteredOptions | async" [value]="option.description" (onSelect)="selected(option)">
      {{ option.description }}
   </md-option>
</md-autocomplete>
<div>
  <button
    md-raised-button
    (click)="add(location.value)" 
    class="button--large button--primary">
    Add this city
  </button>
</div>
