.logout-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition-duration: 0.2s;
}

.logout-btn:hover {
  transition-duration: 0.2s;
  border-bottom: 2px solid #ffffff;
}
