<div [ngBusy]="{busy: busy, message: 'Loading...', backdrop: true, delay: 200, minDuration: 600}"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center dashboard-heading">Honest Weather - Dashboard</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 locationcontainer" [dragula]='"locationdrag"'>
      <div *ngFor="let entry of (item | async)?.locations | keys" class="weather-card weather-card" data-id="{{ entry.key }}" routerLink="details/{{entry.key}}">
        <h2>{{ entry.key.split('-').join(' ') }}</h2>
        <a (click)="remove(entry.key)" class="favoritecity">
          <i class="fa fa-star fa-2x" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <button
        md-raised-button
        routerLink="add">
        Add Location
      </button>
    </div>
  </div>
</div>
