.removecity {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
}

.weather-card:first-child {
  margin-top: 20px;
}

.weather-card:last-child {
  margin-bottom: 50px;
}

.weather-card {
  color: #121738;
  text-align: left;
  margin-bottom: 10px;
  background: #D17C78;
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
}

.weather-card h2 {
  width:80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}


.weather-card:hover {
  background: #c04b45;
  transition-duration: 0.2s;
}

.weather-card h2 {
  color: #121738;
}

.dashboard-heading {
  margin-top:100px;
}
