<div>
  <md-card class="weather-card">
    <md-card-content>
      <h2>Stockholm</h2>
    </md-card-content>
    <a href="#" (click)="remove()" class="removecity">
      <span class="fa fa-times fa-2x"></span>
    </a>
  </md-card>
  <md-card class="weather-card">
    <md-card-content>
      <h2>Stockholm</h2>
    </md-card-content>
    <a href="#" (click)="remove()" class="removecity">
      <span class="fa fa-times fa-2x"></span>
    </a>
  </md-card>
  <md-card class="weather-card">
    <md-card-content>
      <h2>Stockholm</h2>
    </md-card-content>
    <a href="#" (click)="remove()" class="removecity">
      <span class="fa fa-times fa-2x"></span>
    </a>
  </md-card>
  <md-card class="weather-card">
    <md-card-content>
      <h2>Stockholm</h2>
    </md-card-content>
    <a href="#" (click)="remove()" class="removecity">
      <span class="fa fa-times fa-2x"></span>
    </a>
  </md-card>
  <div>
    <button md-raised-button routerLink="add">Add City</button>
  </div>
</div>
